{% extends 'main/main.html' %}


{% block iconmenu %}
<style>
  .fc-day-sun {
    color: red;
  }

  th .fc-day-sun {
    background: red;
    color: #fff;
  }

  .fc-daygrid-bg-harness .fc-event-future .fc-event-title {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin-top: 30%;

  }
</style>
<li>
  <a class="nav-link" href="#" title="จองห้องประชุม" data-toggle="modal" data-target="#booking" data-whatever="@fat">
    <i class="nav-icon fa fa-link"></i>
  </a>
</li>
{% endblock %}

{% block header %}
<h1 class="m-0">ประวัติสแกนนิ้ว</h1>
{% endblock %}
<section class="content ">
  {% block content %}
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-4">
        <div class=" mb-3">

          <div class="card card-info card-outline">
            <div class="card-header">
              <h4 class="card-title">ผลการค้นหาตามวันที่</h4>
            </div>
            <div class="card-body">
              <div id="external-events">
                {% if summysearch == 0 %}
                <div class="external-event bg-warning">ไม่มีรายการค้นหา</div>
                {% else %}
                {% for mysearch in mysearch %}
                <div class="external-event bg-success">{{mysearch.0.strftime("วันที่ %d เดือน %m ปี %Y เวลาสแกน %H:%M:%S")}}</div>
                {% endfor %}
                {% endif %}

              </div>

            </div>
          </div>
          <!-- /.card -->
          <div class="card card-danger card-outline">
            <div class="card-header">
              <h4 class="card-title">ค้นหาตามวันที่</h4>
            </div>
            <div class="card-body">
              <form action="{{ url_for('scan.Searchmyscan') }}" method="POST">

                <div class="input-group">
                  <div class="row" style="width:100%;">
                    <div class="form-group col-md-6">
                      <label for="recipient-name" class="col-form-label">วันที่:</label>
                      <input type="date" class="form-control" name="dstart" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="recipient-name" class="col-form-label">ถึงวันที่:</label>
                      <input type="date" class="form-control" name="dend" required>
                    </div>
                  </div>
                </div>

            </div>
            <div class="card-footer" style="display:flex;justify-content:end">
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
            </form>
          </div>


          <div class="card card-primary card-outline">
            <div class="card-header">
              <h4 class="card-title">ปฏิทินวันหยุด</h4>
            </div>
            <div class="card-body box-profile">
              {% for holiday in holiday %}
              <ul class="list-group  mb-3">
                <li class="list-group-item">
                  <b>{{holiday.1}}</b> <a class="float-right">{{holiday.2.strftime("%d/%m/%Y")}}</a>
                </li>
              </ul>
              {% endfor %}
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>     <!-- /.col -->
      <div class="col-md-8">
        <div class="card card-warning card-outline">
          <div class="card-body p-0">
            <!-- THE CALENDAR -->
            <div id="calendar"></div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <script src="static/plugins/fullcalendar/main.js"></script>

  <script>
    $(function() {

      /* initialize the external events
       -----------------------------------------------------------------*/
      function ini_events(ele) {
        ele.each(function() {

          // create an Event Object (https://fullcalendar.io/docs/event-object)
          // it doesn't need to have a start or end
          var eventObject = {
            title: $.trim($(this).text()) // use the element's text as the event title
          }

          // store the Event Object in the DOM element so we can get to it later
          $(this).data('eventObject', eventObject)

          // make the event draggable using jQuery UI
          $(this).draggable({
            zIndex: 1070,
            revert: true, // will cause the event to go back to its
            revertDuration: 0 //  original position after the drag
          })

        })
      }

      ini_events($('#external-events div.external-event'))


      /* initialize the calendar
       -----------------------------------------------------------------*/
      //Date for the calendar events (dummy data)
      var date = new Date()
      var d = date.getDate(),
        m = date.getMonth(),
        y = date.getFullYear()

      var Calendar = FullCalendar.Calendar;
      var Draggable = FullCalendar.Draggable;

      var containerEl = document.getElementById('external-events');
      var checkbox = document.getElementById('drop-remove');
      var calendarEl = document.getElementById('calendar');
      console.log(m)

      // initialize the external events
      // -----------------------------------------------------------------

      new Draggable(containerEl, {
        itemSelector: '.external-event',
        eventData: function(eventEl) {
          return {
            title: eventEl.innerText,
            backgroundColor: window.getComputedStyle(eventEl, null).getPropertyValue('background-color'),
            borderColor: window.getComputedStyle(eventEl, null).getPropertyValue('background-color'),
            textColor: window.getComputedStyle(eventEl, null).getPropertyValue('color'),
          };
        }
      });

      var calendar = new Calendar(calendarEl, {
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        themeSystem: 'bootstrap',
        //Random default events
        events: [{% for scan in row %}
          {
          title: '{{scan.0.strftime("%H:%M:%S")}}',
          start: '{{scan.0}}',
          backgroundColor: '#CCFFCC', //red
          borderColor: '#CCFFCC', //red
          allDay: true,
          textColor:'#333'
        },
        {% endfor %}
        {% for holiday in holiday %}
        {
          title: '{{holiday.1}}',
          start: '{{holiday.2}}',
          backgroundColor: 'red', //red
          borderColor: '#red', //red
          allDay: true,
          display:'background',
        },
        {% endfor %}

        {% for myleave in myleave %}
        {
          title: '{{myleave.3}}',
          start: '{{myleave.5}}',
          end: new Date('{{myleave.6}}' +1) ,
          {% if myleave.3 == 'ลากิจ' %}
          backgroundColor: '#007bff',
          borderColor: '#007bff',
          {% elif myleave.3 == 'ลาพักร้อน' %}
          backgroundColor: '#17a2b8',
          borderColor: '#17a2b8',
          {% elif myleave.3 == 'ลาป่วย' %}
          backgroundColor: '#dc3545',
          borderColor: '#dc3545',
          {% elif myleave.3 == 'ลาอื่นๆ' %}
          backgroundColor: '#28a745',
          borderColor: '#28a745',
          {% else %}
          backgroundColor: '#28a745',
          borderColor: '#28a745',
          {% endif %}
            allDay: true,
        },
        {% endfor %}
      ],
        editable: false,
        droppable: false, // this allows things to be dropped onto the calendar !!!
        drop: function(info) {
          // is the "remove after drop" checkbox checked?
          if (checkbox.checked) {
            // if so, remove the element from the "Draggable Events" list
            info.draggedEl.parentNode.removeChild(info.draggedEl);
          }
        }
      });

      calendar.render();

      // $('#calendar').fullCalendar()

      /* ADDING EVENTS */

    })

  </script>

  {% endblock %}
</section>
<!-- /.content -->
