{% extends 'main/main.html' %}


{% block header %}
<h1 class="m-0">Roles</h1>
{% endblock %}
<section class="content">
  {% block content %}
  <div class="container-fluid">
    <div class="row">
      <!-- Left col -->
      <section class="col-lg-12 connectedSortable">
        <div class="card">
          <div class="card-body">
            <table id="review" class="table table-bordered">
              <thead class="bg-light">
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">ชื่อ-นามสกุล</th>
                  <th scope="col">แผนก</th>
                  <th scope="col" style="text-align:center">Acction</th>
                </tr>
              </thead>
              <tbody>
                {% for alluserroles in alluserroles %}
                <tr>
                  <td>{{alluserroles.0}}</td>
                  <td>{{alluserroles.1}} {{alluserroles.2}}</td>
                  <td>{{alluserroles.7}}</td>
                  <td style="text-align:center">
                    <form class="" action="{{ url_for('user.Editroleuser',user = alluserroles.1) }}" method="post">
                      <input type="text" name="userid" value="{{alluserroles.10}}" hidden>
                      <button type="submit" name="button" style="border:none;background:none"><i class="fa-regular fa-pen-to-square"></i></button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
    <!-- /.row (main row) -->
  </div><!-- /.container-fluid -->
  {% endblock %}
</section>
<!-- /.content -->
</div>
