{% extends 'main/main.html' %}



{% block header %}
<h1 class="m-0">Trash Box</h1>
{% endblock %}
<section class="content">
  {% block content %}
  <div class="row">
    <div class="col-md-3">
      <a href="compose.html" class="btn btn-primary btn-block mb-3">Compose</a>

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Folders</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body p-0">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a href="/commentinbox" class="nav-link">
                <i class="fas fa-inbox"></i> Inbox
                {% if notification.6 == 0 %}
                {% else %}
                <span class="badge bg-primary float-right">{{notification.6}}</span>
                {% endif %}
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-envelope"></i> Sent
              </a>
            </li>
            <li class="nav-item">
              <a href="trashcomment" class="nav-link" style="color:blue">
                <i class="far fa-trash-alt"></i> Trash
                {% if notification.7 == 0 %}
                {% else %}
                <span class="badge bg-warning float-right">{{notification.7}}</span>
                {% endif %}
              </a>
            </li>
          </ul>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
      <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title">Trash Inbox</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" placeholder="Search Mail">
              <div class="input-group-append">
                <div class="btn btn-primary">
                  <i class="fas fa-search"></i>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
          <div class="mailbox-controls">
            <!-- Check all button -->
            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
            </button>
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm">
                <i class="far fa-trash-alt"></i>
              </button>
            </div>
            <!-- /.btn-group -->
            <button type="button" class="btn btn-default btn-sm" onclick="window.location.reload()">
              <i class="fas fa-sync-alt"></i>
            </button>
            <div class="float-right">
              1-50/200
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm">
                  <i class="fas fa-chevron-left"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm">
                  <i class="fas fa-chevron-right"></i>
                </button>
              </div>
              <!-- /.btn-group -->
            </div>
            <!-- /.float-right -->
          </div>
          <div class="table-responsive mailbox-messages">
            <table class="table table-hover" id="comment">
              <tbody>
                {% if strash == 0 %}
                <tr>
                  <td class="mailbox-date">No trash</td>
                </tr>
                {% else %}
                {% for trash in trash %}
                <form class="" action="/readtrashcomment" method="post">
                  <input type="text" name="commentid" value="{{trash.0}}" hidden>
                  {% if trash.7 == 0 %}
                  <tr class="callout callout-danger">
                    {% else %}
                  <tr>
                    {% endif %}
                    <td>
                      <div class="icheck-primary">
                        <input type="checkbox" id="check{{trash.0}}">
                        <label for="check{{trash.0}}"></label>
                      </div>
                    </td>
                    <td class="mailbox-name"><button type="submit" style="background:none;border:none;color:black">{{trash.1}}</button></td>
                    <td class="mailbox-subject"><b>{{trash.3}}</b> - {{trash.4}}
                    </td>
                    <td class="mailbox-attachment"></td>
                    <td class="mailbox-date">{{trash.6.strftime("%d/%m/%Y")}}</td>
                  </tr>

                </form>

                {% endfor %}
                {% endif %}
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer p-0">
          <div class="mailbox-controls">
            <!-- Check all button -->
            <button type="button" class="btn btn-default btn-sm checkbox-toggle">
              <i class="far fa-square"></i>
            </button>
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm">
                <i class="far fa-trash-alt"></i>
              </button>
            </div>
            <!-- /.btn-group -->
            <button type="button" class="btn btn-default btn-sm">
              <i class="fas fa-sync-alt"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <script>
    $(function() {
      //Enable check and uncheck all functionality
      $('.checkbox-toggle').click(function() {
        var clicks = $(this).data('clicks')
        if (clicks) {
          //Uncheck all checkboxes
          $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)
          $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
        } else {
          //Check all checkboxes
          $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)
          $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
        }
        $(this).data('clicks', !clicks)
      })

      //Handle starring for font awesome
      $('.mailbox-star').click(function(e) {
        e.preventDefault()
        //detect type
        var $this = $(this).find('a > i')
        var fa = $this.hasClass('fa')

        //Switch states
        if (fa) {
          $this.toggleClass('fa-star')
          $this.toggleClass('fa-star-o')
        }
      })
    })
  </script>
  {% endblock %}
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
